
/* ! fake website */

body{
    font-family: 'Arimo', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Hedvig Letters Sans', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
    background-color: #f1e3e6;
}
*{
    margin: 0;
}
.header{
    padding: 20px;
    background-color: white;
    width: 100%;

}
.navbar{
    margin: auto 100px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.navbar .icon1{
    color:#e6c7cf;
}
.navbar .taps .active{
    color:#bfacb1;
}
.navbar .taps{
    display:flex;
    gap:20px;
    margin-left: -850px;

}
.navbar .icons{
    display: flex;
    gap:20px;
}

.pp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    gap: 20px;
}

.pp hr{
    width:25%;
    background-color:#e6a39d;
    height: 2.5px;
    border-radius: 50px;
    border: none;
    outline:none;
}


/* ! fake website */
.products{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    gap:50px;
    /* todo :!!! */
    margin:100px auto;
}
.product{
    width: 25%;
    padding: 10px;
    background-color: white;
    cursor:pointer;
    outline:none;
    border:none;
    text-align: center;
    border-radius: 50px;
    
}
img{
    width: 100%;
    height: 200px;
    border:none;
    outline:none;
    border-radius: 50px;
    cursor:pointer;
}
.add{
    background-color: #ccdbf4;
    border:none;
    outline:none;
    border-radius: 50px;
    padding: 10px;
    width: 90%;
    font-size:20px;
    color:#2c374a;
    cursor: pointer;
    margin-top: 10px;
}